body {
  font-size: 133%;
  font-family: sans-serif;
 text-align: left;
 background-color: white;
}
h1 {
	font-size: 180%;
	font-family: sans-serif;
	text-align: left;
	color: Blue;
	
}
h2{
	font-size: 180%;
	font-family: sans-serif;
	text-align: left;
	color: Blue;
}

h3{
	font-size: 133%;
	font-family: sans-serif;
	text-align: left;
	color: Black;
	font-style: bold;
	
}
nav{
	background-color: aliceblue;
	border: 1px green solid;
	padding: 8px;
	margin: -1px 0x 0px 0px;
}
nav ul {
	
	margin: 0;
	padding: 0;

}
nav li {
	
	padding: 8px;
}




	

 