body {
  font-size: 133%;
  font-family: sans-serif;
 text-align: left;
 background-color: white;
}
h1 {
	font-size: 180%;
	font-family: sans-serif;
	text-align: left;
	color: Red;
	
}
h2{
	font-size: 180%;
	font-family: sans-serif;
	text-align: left;
	color: Red;
}

h3{
	font-size: 133%;
	font-family: sans-serif;
	text-align: left;
	color: Black;
	font-style: bold;
	
}


	

 