

button {
    background-color: black;
    border: 2px white thin;
     padding: 10px 24px;
    
    -webkit-text-fill-color: chartreuse;
    font-size: 16px;
}

header {
background-color: whitesmoke;
text-align: center;
}

header p{
    text-align: center;
font-weight: bold;
font-size: 110%;

}

h1.center {
text-align: center

}

.by-line {
font-style: italic;
font-size: 80%;
text-align: center;

}

.main {
    background-color: lightgray;
    text-align:center;
}

.h1new-point {
    text-align: left;
    background-color: lightgoldenrodyellow;
}

footer{
    font-weight: bold;
    background-color:antiquewhite ;
    text-align: center;
}

.image_utah{
    width: 100;
    height: 100;
    float: right;

}

button.testButton {
    padding-top: 24px;
    border-width: 10px;
    border-color: red;
    border-style: solid;
    border: 15px yellowgreen dashed;
    border-radius: 35px;
}

button.testButton:hover{
    background-color:white;
}
button.marginButton{
    margin: 25px;
}
div#margin-div{
    display: inline-block;
    border: 1px black solid;
}
aside{
    background-color:blanchedalmond;
    float: right;
    width: 33%;
    padding: 5px;
    margin-left: 8px;
    margin-right:8px;
    border: 1px black solid;
    border-radius: 8px;
    font-size: 120;
    font-style: italic;
    
}
.elf-div.border{
    display: inline-block;
    border: 1px black solid;


}


.blueBackground {
    background-color: aqua;

}

.greenBackground {
    background-color:green;
}

.pinkBackground {
    background-color: pink;

}

.yellowBackground {
    background-color: yellow
}

.purpleBackground {
    background-color: purple;
}