

button {
    background-color: black;
    border: 2px white thin;
     padding: 10px 24px;
    
    -webkit-text-fill-color: chartreuse;
    font-size: 16px;
}

header {
background-color: whitesmoke;
text-align: center;
}

header p{
    text-align: center;
font-weight: bold;
font-size: 110%;

}

h1.center {
text-align: center

}

.by-line {
font-style: italic;
font-size: 80%;
text-align: center;

}

.main {
    background-color: lightgray;
    text-align:center;
}

.h1new-point {
    text-align: right;
    background-color: lightgoldenrodyellow;
}

footer{
    font-weight: bold;
    background-color:antiquewhite ;
    text-align: center;
}

.image_utah{
    width: 100;
    height: 100;
    float: right;

}

