#container{
    background-color:white;
    width: 800px;
    
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
     }
     body{
         background-color:white;
     }

     header {
        background-color: black;
        color:white;
        font-family:fantasy;
        text-align: center;
        font-size: 24px;
     }
     

     .By-Line{
        font-size:24px;
        font-family:fantasy;
    }
    main{
        background-color: white;
        
    }

    #content{
        width:600px;
        
        float:right;
        background-color:white;
        text-align:justify;
    }
    nav{
        background-color: white;
        width:180px;
        
        float:left;
    
        font-family:fantasy;
        font-size: 24px;
    }
footer{
         width: 800px;
         
         background-color: white;
         clear:both;
         font-family: Arial, Helvetica, sans-serif;
         text-align: left;
         font-size: 24px;
     }
    ul {

        list-style-type: none;
        font-size: 24px;
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 2em;
            
        }
       

        

        p{
            font-size: 24px;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.5em;
            
        }
        a{
            color:black;
        }
        img{
           width:800px;
           height: 450px;
           
            margin-right: auto;
            margin-left:auto;
           
        }
        figcaption{
            text-align:center;
            font-size:24px;
            background-color: black;
            color:white;
            width:800px;
            margin-right:auto;
            margin-left: auto;
            font-family: Arial, Helvetica, sans-serif;
        }