
*{
    box-sizing: border-box;

}
#container{
    background-color:whitesmoke;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
     }

    
#header {
    background-color: black;
    color:white;
    font-family:fantasy;
    text-align: center;
    font-size: 24px;
    
}

img{
    width: 800px;
    height: 450px;
    margin-right: auto;
    margin-left:auto;
   
}
#content{
    width:600px;
    float:right;
    padding:10px;
    text-align:justify;
}

#main{
    background-color:whitesmoke
    
}
#nav{
    background-color: whitesmoke;
    width:180px;
    float:left;
    
    font-family:fantasy;
    font-size: 24px;
}




#footer{
    clear: both;
    background-color: whitesmoke;
}


.By-Line{
    font-size:24px;
    font-family:fantasy;
}

ul {
    list-style-image: url("../theme/ThemeImages/41PvBoMLX3L.jpg");
    text-emphasis: none;
    
}
figure{
    width: 800px;
    background-color: black;
}
  figcaption{
      text-align:left;
      font-size:px;
      background-color: black;
      color:white;
      width:800px;
      margin-right:auto;
      margin-left: auto;
  }
    

li{
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    
    

}
h1{
    text-align:center;
}
p{
    font-size: 24px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    
}


