
#container{
    background-color:whitesmoke;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    
    }

    
#header {
    background-color: black;
    color:white;
    font-family:fantasy;
    text-align: center;
    font-size: 24px;
    
}

img{
    width: 800px;
    height: 450px;
   
}
#content{
    width:600px;
    float:right;
    padding:10px;
    text-align:justify;
}
#main{
    background-color:whitesmoke
    
}
#nav{
    background-color: whitesmoke;
    width:180px;
    float:left;
    
    font-family:fantasy;
    font-size: 24px;
}




#footer{
    clear: both;
    background-color: whitesmoke;
}


.By-Line{
    font-size:24px;
    font-family:fantasy;
}

ul {
    list-style-image: url("../theme/ThemeImages/41PvBoMLX3L.jpg");
    text-emphasis: none;
    
}

  
    

li{
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    
    

}
h1{
    text-align:center;
}
p{
    font-size: 24px;
}


