
#container{
    background-color:whitesmoke;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
     }

    
#header {
    background-color: black;
    color:white;
    font-family:fantasy;
    text-align: center;
    font-size: 24px;
    
}

img{
    width: 800px;
    height: 450px;
    margin-right: auto;
    margin-left:auto;
   
}
#content{
    width:600px;
    float:right;
    padding:10px;
    text-align:justify;
}
.full-text{
    width:800px;
    border:none;
    text-align: justify
}

#main{
    background-color:whitesmoke
    
}
#nav{
    background-color: whitesmoke;
    width:180px;
    float:left;
    list-style-image: url("../theme/ThemeImages/41PvBoMLX3L.jpg");

    font-family:fantasy;
    font-size: 24px;
}




.footer{
    
    background-color: black;
    border: 1px solid black;
    text-align: center;
    list-style-type: none;
    display: inline;
    color:white;
}


.By-Line{
    font-size:24px;
    font-family:fantasy;
}

ul {
list-style-type: none;
display: inline;
    
}
figure{
    width: 800px;
    background-color: black;
    border:none;
}
  figcaption{
      text-align:center;
      font-size:24px;
      background-color: black;
      color:white;
      width:800px;
      margin-right:auto;
      margin-left: auto;
      font-family: Arial, Helvetica, sans-serif;
  }
    

li{
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    
    

}
h1{
    text-align:center;
    
    color:white;
    font-family:fantasy;
    text-align: center;
    font-size: 24px;
}
p{
    font-size: 24px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    
}


