body {
    font-size: 133%;
    font-family: sans-serif;
   text-align: left;
   background-color: Black;
  }
  h1 {
      font-size: 180%;
      font-family: fantasy;
      text-align: center;
      color: white;
 }
  h2{
      font-size: 180%;
      font-family: sans-serif;
      text-align: left;
      color:White;
  }
  
  h3{
      font-size: 133%;
      font-family: sans-serif;
      text-align: left;
      color:White ;
      font-style: bold;
 }
 p{
     font-size: 133%;
    font-family: sans-serif;
    text-align: left;
    color:White ;
    font-style: bold;

 }
 img {
    width: 200px;
    height: 200px;
    align-self: left;
}
header{
    background-color: black;
    text-align: center;
    
} 

header p {
font-weight: bold;
color: blue;
text-align: center;

}
.byline {
    font-style: italic;
    font-family: fantasy;
    font-size: 133%;
    text-align: center;

}
figure.left{
    float: left;
}
figcaption{
    color:white;
    font-size: small;
}

main
{
    background-color: black;
}
ul{
    text-align: center;
}




    
 
 

  
  
      
  
   