
#container{
    background-color:Black;
    width: 801px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    
     }
     body{
         background-color:black;
     }
.imgFloat {
    width: 400px;
    float:right;
}
    
header {
    background-color: black;
    color:white;
    font-family:fantasy;
    text-align: center;
    font-size: 24px;
    
}
a{
    color:white;
    font-size: 16px;
    font: italic bold;
}
img{
    width: 800px;
    height: 450px;
    margin-right: auto;
    margin-left:auto;
   
}
#content{
    width:600px;
    float:right;
    padding:10px;
    text-align:justify;
    background-color: black;
 color:white;
}

main{
    background-color: black;
    
    
    
}
nav{
    background-color: black;
    width:180px;

    float:left;
line-height:1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

aside{
    
    font-size: 12px italic;
    color: white;
    
    background-color:black;
    border: 1px solid white;


}


footer{
    clear:both;
    background-color: black;
    
    text-align: left;
    list-style-type:default;
    display: inline;
    color:white;
    margin:10px; 
}


.By-Line{
    font-size:24px;
    font-family:fantasy;
}

ul {
list-style-type: none;
display: inline;
    
}
figure{
    width: 800px;
    background-color: black;
    border:none;
}
  figcaption{
      text-align:center;
      font-size:24px;
      background-color: black;
      color:white;
      width:800px;
      margin-right:auto;
      margin-left: auto;
      font-family: fantasy;
  }
    


h1{
    text-align:center;
    
    color:silver;
    font-family:fantasy;
    text-align: center;
    font-size: 24px;
}
h3 {
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color:white;
}
p{
    font-size: 24px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: silver;
    
}

button {
    background-color: white;
    border: 2px black thin;
     padding: 10px 24px;
    color:black;
    font-size: 16px;
}


