body {
    font-size: 133%;
    font-family: sans-serif;
   text-align: left;
   background-color: Black;
  }
  h1 {
      font-size: 180%;
      font-family: sans-serif;
      text-align: left;
      color:white;
      
  }
  h2{
      font-size: 180%;
      font-family: sans-serif;
      text-align: left;
      color:White;
  }
  
  h3{
      font-size: 133%;
      font-family: sans-serif;
      text-align: left;
      color:White ;
      font-style: bold;
 }
 p{
     font-size: 133%;
    font-family: sans-serif;
    text-align: left;
    color:White ;
    font-style: bold;

 }

  
  
      
  
   