body {
    font-size:10px;
font-family: Arial, Helvetica, sans-serif;
   text-align: left;
   font-size: 15px;
   background-color: azure;
   

  }
  h1 {
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
      color: black;
 }
  h2{
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;

      text-align: left;
      color: black;
  }
  


 
 p{
     font-size: 10px;
     font-family: Arial, Helvetica, sans-serif;

    text-align: left;
    color:black;
    font-style: bold;

 }

header{
    background-color: white;
    text-align: center;
    
} 

header p {
font-weight: bold;
color: black;
text-align: center;

}
.MyTitle{
    Text-align:center;
    font-family:fantasy;
    font-size: 24px;
    font-style: Bold;
    padding:25px;
    margin: 25px;
    background-color: white;
    border: black thin 2px;
    
}


figure.left{
    float: left;
}
figcaption{
    color: black;
    font-size: small;
}







    
 
 

  
  
      
  
   